{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-wrapper">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <!-- Learning Block info column -->
                    <div class="col-sm-12 col-md-auto me-2">
                        <h class="display-6">{{ learning_block.name }}</h>
                        <h3 class="num-block-words">{{ block_words|length }} {{ gui_messages.n_words }}</h>
                        {% if user.is_authenticated %}
                            <h6 class="num-learned-words">{{ num_learned_words }} {{ gui_messages.n_words_learned }}</h6>
                        {% endif %}

                        <!-- Button to quiz_learn -->
                        <form method="POST" action="{% url 'quiz_learn' %}" class="my-2">
                            {% csrf_token %}
                            <input type="hidden" value="{{ learning_block.slug }}" name="learning_block">
                            {% if learning_block.is_completed %}
                                <span class="tt" data-bs-toggle="tooltip" title="{{ gui_messages.block_fully_learned }}">
                                    <input type='submit' class="btn btn-outline-secondary" value="{{ gui_messages.btn_learn_words }}" disabled> 
                                </span>
                            {% else %}
                                <input type='submit' class="btn btn-primary" value="{{ gui_messages.btn_learn_words }}"> 
                            {% endif %}
                        </form>
                        
                        <!-- Button to quiz_review -->
                        <form action="{% url 'quiz_review' %}" method="POST" class="my-2">
                            {% csrf_token %}
                            <input type="hidden" value="{{ learning_block.slug }}" name="learning_block">
                            {% if not user.is_authenticated %}
                                <span class="tt" data-bs-toggle="tooltip" title="{{ gui_messages.log_in_to_review }}">
                                    <input type='submit' class="btn btn-outline-secondary" value="{{ gui_messages.btn_review }}" disabled> 
                                </span>
                            {% elif num_learned_words == 0 %}
                                <span class="tt" data-bs-toggle="tooltip" title="{{ gui_messages.no_review_words }}">
                                    <input type='submit' class="btn btn-outline-secondary" value="{{ gui_messages.btn_review }}" disabled> 
                                </span>
                            {% else %}
                                <input type='submit' class="btn btn-primary" value="{{ gui_messages.btn_review }}"> 
                            {% endif %}
                        </form>

                        <!-- Button to quiz_multiple_choice -->
                        <form method="POST" action="{% url 'quiz_multiple_choice' %}" class="my-2">
                            {% csrf_token %}
                            <input type="hidden" value="{{ learning_block.slug }}" name="learning_block">
                            {% if num_learned_words == block_words|length %}
                                <input type='submit' class="btn btn-success" value="{{ gui_messages.btn_start_quiz }}">
                            {% else %}
                                <input type='submit' class="btn btn-outline-secondary" value="{{ gui_messages.btn_start_quiz }}">
                            {% endif %}
                        </form>
                        
                    </div>

                    <!-- Block mastery level column -->
                    <div class="col-sm-12 col-md-auto">
                        <!-- Block mastery level text -->
                        <div class="row">
                            <nobr>
                                <a href="{% url 'user_block_detail' learning_block.slug %}">{{ gui_messages.label_block_mastery_level }}</a> {{ block_mastery_level|floatformat:2 }} / 6
                                <span class="tt" data-bs-toggle="tooltip" title="{{ gui_messages.block_mastery_level_help }}">
                                    <i class="fa-solid fa-circle-info"></i>
                                </span>
                            </nobr>
                        </div>
                        
                        <!-- Doughnut chart -->
                        <div class="row">
                            <div id="ml-doughnut" class="chart doughnut-chart-container">
                                {{ bml_fractional_part|json_script:"bml-doughnut-fractional" }}
                                <canvas id="doughnut" class="doughnut"></canvas>
                                <p class="doughnut-chart-text">{{ bml_whole_part|floatformat:0|default:0 }}</p>
                            </div>
                        </div>    
                    </div>

                    <!-- Words mastery levels bar chart -->
                    <div class="col">
                        <div id="ml-chart" class="mastery-level-chart">
                            {{ ml_chart|json_script:"ml-chart-data" }}
                            <canvas id="mastery-level-chart"></canvas>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <!-- List of words block -->
            <div class="col-auto pt-2">
                <div class="card word-list-card">
                    <div class="card-header">{{ gui_messages.label_list_of_words }}</div>
                    <ol class="list-group py-2 px-3">
                        {% for word in block_words %}
                            <li class="mx-3">
                                <div class="row justify-content-between">
                                    <div class="col">{{ word.name }}</div>
                                    <div class="col text-end">{{ word.translation }}</div>
                                </div>
                            </li>
                        {% endfor %}
                    </ol>
                </div>
            </div>

            <!-- Theory block -->
            <div class="col pt-2">
                <div class="card">
                    <div class="card-header">{{ gui_messages.label_theory }}</div>
                    <div class="card-body">
                        <p class="card-text">{{ learning_block.theory|safe }}</p>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

<script src="{% static 'js/charts.js' %}"></script>

{% endblock %}