{% extends "base.html" %}
{% block content %}

<div class="container-fluid" style="width: 40%; margin-top: 10px; padding: 20px; border-radius: 10px; background-color: white;">
  <h1 class="display-6">Learning Blocks</h1>
  <div class="row" style="margin: 0 auto;">
    {% for block, block_fully_learned in block_list %}
    <div class="col-lg-6 col-xs-12">
      <div class="card-deck mb-1 text-center">

        <div class="card mb-4 box-shadow" style="margin-bottom: 0.5rem !important; height: 80px;">
          <div class="card-body" style="padding: 10px;">
            <i class="fas fa-shield-alt fa-4x com-icon"></i>
            <div class="row">
              <div class="col" style="text-align: left;">
                <h6 class="card-title" style="margin-bottom: 0;"><a href="{% url 'block_detail' slug=block.slug %}">{{ block.name }}</a>
                  {% if block_fully_learned %}
                    &#x2705;
                  {% endif %}
                </h6>
              </div>
              <div class="col-4" style="text-align: right;">

                {% if not user.is_authenticated %}
                  <form id="form" action="{% url 'quiz_multi_choice' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" value="{{ block.slug }}" name="learning_block">
                    <input type='submit' class="btn btn-primary btn-sm" value="Quiz" style="min-width: 65px;">
                  </form>
                {% elif block_fully_learned %}
                  <form id="form" action="{% url 'quiz_review' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" value="{{ block.slug }}" name="learning_block">
                    <input type='submit' class="btn btn-success btn-sm" value="Review" style="min-width: 65px;">
                  </form>
                {% else %}
                  <form id="form" action="{% url 'quiz_learn' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" value="{{ block.slug }}" name="learning_block">
                    <input type='submit' class="btn btn-primary btn-sm" value="Learn" style="min-width: 65px;">
                  </form>
                {% endif %}
              </div>
            </div>

            <div class="row">
              <p class="card-text" style="text-align: left;">{{ block.description }}</p>
            </div>
          </div>
        </div>

      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}