{% extends "base.html" %}

{% block content %}

<div class="container-wrapper">
  <div class="container-md container-learn p-3">
    <h1 class="display-6 text-center">Learning Blocks</h1>
    <h6 class="text-center">Tap on each title to view the contents</h6>
    <div class="row justify-content-center">
      {% for block, block_fully_learned in block_list %}
      <div class="col-sm-12 col-md-5">
        <div class="card-deck mb-1 text-center">

          <div class="card mb-4 box-shadow block-card">
            <div class="card-body">
              <div class="row">
                <div class="col text-start">
                  <h6 class="card-title"><a href="{% url 'block_detail' slug=block.slug %}">{{ block.name }}</a>
                    {% if block_fully_learned %}
                      &#x2705;
                    {% endif %}
                  </h6>
                </div>
                <div class="col-4 d-flex justify-content-end">

                  {% if not user.is_authenticated %}
                    <form id="form" action="{% url 'quiz_multiple_choice' %}" method="POST">
                      {% csrf_token %}
                      <input type="hidden" value="{{ block.slug }}" name="learning_block">
                      <input type='submit' class="btn btn-sm btn-primary btn-block-interact" value="Quiz">
                    </form>
                  {% elif block_fully_learned %}
                    <form id="form" action="{% url 'quiz_review' %}" method="POST">
                      {% csrf_token %}
                      <input type="hidden" value="{{ block.slug }}" name="learning_block">
                      <input type='submit' class="btn btn-sm btn-success btn-block-interact" value="Review">
                    </form>
                  {% else %}
                    <form id="form" action="{% url 'quiz_learn' %}" method="POST">
                      {% csrf_token %}
                      <input type="hidden" value="{{ block.slug }}" name="learning_block">
                      <input type='submit' class="btn btn-sm btn-primary btn-block-interact" value="Learn">
                    </form>
                  {% endif %}
                </div>
              </div>

              <div class="row">
                <p class="card-text text-start">{{ block.description }}</p>
              </div>
            </div>
          </div>

        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}