{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
<table class="table table-hover">
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Transliteration</th>
          <th scope="col">Translation</th>
          <th scope="col">Example</th>
        </tr>
    </thead>
    <tbody>
        {% for word in words %}
            {% with word=word.word %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ word.name }}</td>
                <td>{{ word.transliteration }}</td>
                <td>{{ word.translation }}</td>
                <td>{% if word.example %}{{ word.example }}{% else %}-{% endif %}</td>
            </tr>
            {% endwith %}
        {% endfor %}
    </tbody>
</table>
{% else %}
    <div class="container-fluid">
        <div class="alert alert-info" role="alert">
            Nobody here but us chickens. Please <a href="{% url 'login' %}">log in</a>
        </div>
    </div>
{% endif %}
{% endblock %}