{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
<div class="container-fluid">
    <h class="display-6"><span style="color: rgb(0, 179, 255); font-weight: bold">{{ learning_block.name }}</span></h>
    <table class="table table-hover">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Audio</th>
            <th scope="col">Points</th>
            <th scope="col">Level</th>
            <th scope="col">Transliteration</th>
            <th scope="col">Translation</th>
            <th scope="col">Example</th>
            </tr>
        </thead>
        <tbody>
            {% for word in words %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ word.word.name }}</td>
                    <td>
                        {% if word.word.audio %}
                            <audio id="audio_{{ word.word.name }}" preload="none" src="{{ word.word.audio.url }}"></audio>
                            <a href="{{ word.word.audio.url }}" onclick="document.getElementById('audio_{{ word.word.name }}').play(); return false;">
                                <span style="display: inline-block; font-size: 20px;">&#x1F50A;</span>
                            </a>
                        {% endif %}
                    </td>
                    <td>{{ word.points }}</td>
                    <td>{{ word.mastery_level }}</td>
                    <td>{{ word.word.transliteration }}</td>
                    <td>{{ word.word.translation }}</td>
                    <td>{% if word.word.example %}{{ word.word.example }}{% else %}-{% endif %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
    <div class="container-fluid">
        <div class="alert alert-info" role="alert">
            Nobody here but us chickens. Please <a href="{% url 'login' %}">log in</a>
        </div>
    </div>
{% endif %}
{% endblock %}