{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}

<style>
	.row {
		margin-bottom: 10px;
	}
</style>

<div class="alert alert-success">
	Thank you for confirming your email. You can now log in to your account.
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.css">
<div class="container-fluid">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12 col-md-9 col-lg-7 col-xl-6">
				<div class="container bg-white rounded mt-2 mb-2 px-0" style="border-radius: 10px !important;">

					<!-- Login title -->
					<div class="pt-3" style="text-align: center;">
						<h1><strong>{% trans "Login" %}</strong></h1>
					</div>

					<div class="pt-3 pb-3" style="display: flex; justify-content: center; align-items: center;">

						<!-- Login Form -->
						<form method="post">
							{% csrf_token %}

							<!-- Username input -->
							<div class="input-group mb-3 form-group">
								<div class="input-group-prepend">
									<span class="input-group-text" id="basic-addon1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="25" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16"><path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/></svg></span>
								</div>
								{{ form.username }}
							</div>

							<!-- Password Input -->
							<div class="input-group mb-3 form-group">
								<div class="input-group-prepend">
									<span class="input-group-text" id="basic-addon1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="25" fill="currentColor" class="bi bi-key" viewBox="0 0 16 16"><path d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z"/><path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/></svg></span>
								</div>
								{{ form.password }}
							</div>

							<!-- Forgot Password -->
							<div hidden class="form-group row justify-content-center px-3">
								<div class="col-9">
									<!-- Forgot Password Link -->
									<div class="col-12 px-0 text-right">
										<span><a href="#" class="text-danger"><b>{% trans "Forgot Password?" %}</b></a></span>
									</div>
								</div>
							</div>

							<!-- CAPTCHA Checkbox -->
							<div class="form-group row px-3">
								<div class="col-9 px-0">
									{{ form.captcha }}
								</div>
							</div>

							<!-- Login button -->
							<div class="form-group text-center">
								<input type="submit" value="{% trans 'Login' %}" class="btn btn-block btn-info shadow-none" style="width: 120px; color: white;">
							</div>

							<!-- Show errors if any -->
							{% if form.errors %}
							<div class="alert alert-danger" role="alert">
								{{ form.captcha.errors.1 }}
								{% for error in form.username.errors %}
									{{ error }}
								{% endfor %}
							</div>
							{% endif %}
							
						</form>
					</div>

					<!-- Register Now -->
					<div class="pt-2">
						<div class="row justify-content-center" style="padding: 10px; text-align: center;">
							<h5>{% trans "Don't have an account?" %} <span><a href="{% url 'signup' %}" class="text-danger">{% trans "Register Now!" %}</a></span></h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}