{% extends "base.html" %}
{% load i18n %}

{% block content %}

<div class="container-wrapper">
  <div class="card text-center my-3">
    <div class="card-header">
        {{ gui_messages.index_learn_card_header }}
    </div>

    <div class="card-body">
        <h5 class="card-title">{{ gui_messages.index_learn_card_title }}</h5>
        <p class="card-text">{{ gui_messages.index_learn_card_text }}</p>
        <a href="{% url 'learn' %}" type="button" class="btn btn-success btn-lg">{{ gui_messages.index_learn_card_button }}</a>
    </div>    
  </div>

  <div class="card text-center my-3">
    <div class="card-header">
        {{ gui_messages.index_theory_card_header }}
    </div>

    <div class="card-body">
        <h5 class="card-title">{{ gui_messages.index_theory_card_title }}</h5>
        <p class="card-text">{{ gui_messages.index_theory_card_text }}</p>
        <a type="button" class="btn btn-outline-primary btn-lg disabled">{{ gui_messages.index_theory_card_button }}</a>
    </div>
  </div>
  
</div>

{% endblock %}