{% extends "base.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/quiz.css' %}">

<div class="container-wrapper overflow-hidden">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-3">
            <div id="quiz">
                
                {% with num_questions=words|length %}
                    {{ num_questions|json_script:"num_questions" }}
                {% endwith %}
                
                {% with current_learning_block=learning_block.slug %}
                    {{ current_learning_block|json_script:"learning_block" }}
                {% endwith %}

                <h1>{{ learning_block.name }}</h1>

                {% for word in words %}
                    <div id="word{{ forloop.counter }}" class="question position-relative {{ forloop.first|yesno:',display-none' }}">
                        <form id="{{ forloop.counter }}" class="question_form_review px-4 py-3 bg-white rounded-3" action="{% url 'check_answer' %}" method="POST">
                            {% csrf_token %}

                            {% if request.user.is_staff %}
                                <!-- Go to results (for debug purposes) -->
                                <button type="button" class="btn btn-warning position-absolute top-0 end-0" type="button" onclick="quizResults('review')">Go to results</button>
                            {% endif %}

                            <input type="hidden" value="{{ word.pk }}" name="question_id">
                            <div class="row justify-content-center fs-5">
                                {{ forloop.counter }} / {{ words|length }}
                            </div>
                            
                            <div class="row">
                                <!-- Word name -->
                                <div class="col text-center">
                                    <span class="word_name">{{ word.word.name }}</span>
                                    
                                    <!-- Word Audio -->
                                    {% if word.word.audio %}
                                    <audio id="audio_{{ word.word.name }}" preload="none" src="{{ word.word.audio.url }}"></audio>
                                    <a href="{{ word.word.audio.url }}" onclick="document.getElementById('audio_{{ word.word.name }}').play(); return false;">
                                        <i class="fa-regular fa-circle-play"></i>
                                    </a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row my-3 fs-5">Definition:</div>
                            <!-- Question options -->
                            <div class="question_options my-2" id="question{{ forloop.counter }}_options">
                                {% for option in word.options %}
                                    <div class="row my-1">
                                        <input type="submit" class="btn btn-outline-primary text-start px-2 fs-5" value="{{ option }}" name="answer">
                                    </div>
                                {% endfor %}
                            </div>

                            <!-- Word example -->
                            <div class="row my-3 text-center">
                                <span id="span_word_example_{{ forloop.counter }}" class="word_example display-none mb-3">
                                    <!-- AJAX populates it -->
                                </span>
                            </div>
                            
                            <!-- Navigation buttons -->
                            <div class="row justify-content-between">
                                <!-- Button back -->
                                <div class="col text-start p-0">
                                    <input type="button" onclick="move(0)" class="btn btn-primary" {{ forloop.first|yesno:"hidden" }} value="Previous">
                                </div>
                                <div class="col text-end p-0">
                                    {% if not forloop.last %}
                                        <!-- Button next -->
                                        <input disabled id="btn-next" type="button" onclick="move()" class="btn btn-primary" value="Next">
                                    {% else %}
                                        <!-- Button end quiz -->
                                        <input type="button" onclick="quizResults('review')" value="End Quiz" class="btn btn-secondary">
                                    {% endif %}
                                </div>
                            </div>
                        </form>
                    </div>
                {% endfor %}

                <!-- Quiz results form -->
                <form hidden id="form-results" action="{% url 'quiz_results' %}" method="POST">
                    {% csrf_token %}
                </form>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/quiz.js' %}"></script>

{% endblock %}