{% extends "base.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/quiz.css' %}">

<div class="container-wrapper overflow-hidden">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-3">
            
            <h1>{{ learning_block.name }}</h1>
            
            <div id="quiz">
                
                {% with num_questions=words|length %}
                    {{ num_questions|json_script:"num_questions" }}
                {% endwith %}
                
                {% with current_learning_block=learning_block.slug %}
                    {{ current_learning_block|json_script:"learning_block" }}
                {% endwith %}

                {% for word in words %}
                    <div class="question position-relative" id="word{{ forloop.counter }}" {% if forloop.first %}style="display:block;"{% else %}style="display:none;"{% endif %}>
                        <form class="question_form_learn px-4 py-3 bg-white rounded-3" action="{% url 'add_to_learned' %}" method="POST">
                            {% csrf_token %}

                            <input type="hidden" value="{{ word.pk }}" name="question_id">
                            <div class="row justify-content-center fs-5">
                                {{ forloop.counter }} / {{ words|length }}
                            </div>
                            
                            <div class="row">
                                <!-- Word name -->
                                <div class="col text-center">
                                    <span class="fs-1">{{ word.name }}</span>
                                    
                                    <!-- Word Audio -->
                                    {% if word.audio %}
                                    <audio id="audio_{{ word.name }}" preload="none" src="{{ word.audio.url }}"></audio>
                                    <a href="{{ word.audio.url }}" onclick="document.getElementById('audio_{{ word.name }}').play(); return false;">
                                        <i class="fa-regular fa-circle-play"></i>
                                    </a>
                                    {% endif %}
                                </div>
                            </div>

                            <!-- Word translation -->
                            <div class="row">
                                <div class="col text-center">
                                    <span class="fs-1">{{ word.translation }}</span>
                                </div>
                            </div>

                            <!-- Word example -->
                            <div class="row my-3">
                                {% if word.example %}
                                    {{ word.example }}
                                {% endif %}
                                {% if word.example_image %}
                                    <img src="{{ word.example_image.url }}" alt="example_image" style="max-height: 20px;">
                                {% endif %}
                            </div>
                            
                            <!-- Navigation buttons -->
                            <div class="row justify-content-between">
                                <!-- Button back -->
                                <div class="col text-start p-0">
                                    <input type="button" onclick="move(0)" class="btn btn-primary" {% if forloop.first %}hidden{% endif %} value="Previous">
                                </div>
                                <div class="col text-end p-0">
                                    {% if not forloop.last %}
                                        <!-- Button next -->
                                        <input id="btn-next" type="submit" onclick="move()" class="btn btn-primary" value="Next">
                                    {% else %}
                                        <!-- Button end quiz -->
                                        <input type="hidden" name="is_last" value="true">
                                        <input type="submit" value="End Quiz" class="btn btn-secondary">
                                    {% endif %}
                                </div>
                            </div>
                        </form>
                    </div>
                {% endfor %}

                <!-- Quiz results form -->
                <form hidden id="form-results" action="{% url 'quiz_results' %}" method="POST">
                    {% csrf_token %}
                </form>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/quiz.js' %}"></script>

{% endblock %}