{% extends "base.html" %}
{% load static %}

{% block content %}

<style>
  body {
    background-color: aliceblue;
  }
</style>

<div id="quiz">
    {% for word in words %}
        <div class="question" id="word{{ forloop.counter }}" {% if forloop.first %}style="display:block;"{% else %}style="display:none;"{% endif %}>
            <form id="question-form" action="{% url 'check_answer_review' %}" method="POST" style='position: relative; text-align: center; min-width: 400px; width: fit-content; min-height: 250px; height: fit-content; margin: 0 auto; background-color: white; border-radius: 10px; padding: 10px 20px 50px 20px;'>
                {% csrf_token %}    
                <input type="hidden" value="{{ word.pk }}" name="question_id">
                <span style="text-align: right;">{{ forloop.counter }} / {{ words|length }}</span>
                <br>
                
                <span style="font-size: 30px; margin-bottom: 10px;">{{ word.word.name }}</span>

                <!-- Word Audio -->
                {% if word.word.audio %}
                    <audio id="audio_{{ word.word.name }}" preload="none" src="{{ word.word.audio.url }}"></audio>
                    <a href="{{ word.word.audio.url }}" onclick="document.getElementById('audio_{{ word.word.name }}').play(); return false;">
                        <span style="display: inline-block; font-size: 20px;">&#x1F50A;</span>
                    </a>
                {% endif %}
                    
                <br>
                Definition:
                <div class="question{{ forloop.counter }}_options" style="margin: 10px auto 10px auto;">
                    <div class="col">
                        {% for option in word.options %}
                            <div class="row">
                                <input type="submit" class="btn btn-outline-primary" value="{{ option }}" name="answer" style="margin-bottom: 8px;">
                            </div>
                        {% endfor %}
                    </div>

                    <div style="height: 20px;">
                        <span id="span_word_example" style="display: none;">
                            {% if word.word.example_image %}
                                <img src="{{ word.word.example_image.url }}" alt="example_image" style="max-height: 30px;">
                            {% endif %}

                            {% if word.word.example %}
                                {{ word.word.example }}
                            {% endif %}
                        </span>
                    </div>

                    <br>
                </div>
                
                <input type="button" onclick="move(0)" class="btn btn-primary" {% if forloop.first %}hidden{% endif %} value="Previous" style="position: absolute; bottom: 10px; left: 10px;">
                {% if not forloop.last %}
                    <input disabled id="btn-next" type="button" onclick="move()" class="btn btn-primary" value="Next" style="position: absolute; bottom: 10px; right: 10px;">
                {% else %}
                    <input type="button" onclick="quizResults()" value="End Quiz" class="btn btn-secondary" style="position: absolute; bottom: 10px; right: 10px;">
                {% endif %}
            </form>
        </div>
    {% endfor %}
</div>


<!-- Quiz Results -->
<div id="quiz-results" style="display: none; margin: 0 auto;">
    <h2 style="margin-bottom: 20px">Results</h2>
    <div class="card" style="width: 18rem; margin: 0 auto;">
        <div class="card-body">
            <h5 class="card-title">{{ learning_block.name }}</h5>
            <p class="card-text"><h3><span id="score">{{ score }}</span> / {{ words|length }}</h3></p>
            <p style="font-size: 18px;">Go back to <a href="{% url 'block_detail' slug=learning_block.slug %}" style="text-decoration: none; font-weight: 400;">{{ learning_block.name }}</a></p>
            <a href="{% url 'learn' %}">Go to index</a>
        <br>
            <form method="POST" action="{% url 'quiz_review' %}" class="text-center">
                {% csrf_token %}
                <input type="hidden" value="{{ learning_block.slug }}" name="learning_block">
                <input type='submit' class="btn btn-outline-primary" value="Review Again" style="margin-top: 10px;">
            </form>
          
        </div>
      </div>

      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Audio</th>
            <th scope="col">Transliteration</th>
            <th scope="col">Translation</th>
            <th scope="col">Example</th>
          </tr>
        </thead>
        <tbody>
        {% for word in distinct_words %}
            {% with word=word.word %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ word.name }}</td>
                    <td>
                    {% if word.audio %}
                        <a href="{{ word.audio.url }}" onclick="document.getElementById('audio_{{ word.name }}').play(); return false;">
                            <span style="display: inline-block; font-size: 20px;">
                                &#x1F50A;
                            </span>
                        </a>
                    {% endif %}
                    </td>
                    <td>{{ word.transliteration }}</td>
                    <td>{{ word.translation }}</td>
                    <td>{% if word.example %}{{ word.example }}{% else %}-{% endif %}</td>
                </tr>
            {% endwith %}
        {% endfor %}
        </tbody>
      </table>
</div>

<!-- AJAX request to check whether the answer is correct or not -->
<script type="text/javascript">    
    let incorrectlyAnswered = [];
    let score = 0;
    let x, y;

    $(document).on("mouseup", '#question-form', function(e) {
        x = e.clientX;
        y = e.clientY;
    });
    
    $(document).on("submit", '#question-form', function(e) {
        e.preventDefault();
        const questionForm = $(this);
        const questionId = questionForm.find('input[name="question_id"]').val();

        const nextButton = questionForm.find('input[id="btn-next"]');
        nextButton.removeAttr('disabled');
        
        let clickedInput = questionForm.find('input[type="submit"]:focus');
        clickedInput.addClass('clicked');
        let answerValue = clickedInput.val();

        const exampleSpan = questionForm.find('span[id="span_word_example"]');
        
        $.ajax({
            type: "POST",
            url: questionForm.attr('action'),
            data: {
                'question_id': questionId,
                'answer': answerValue,
                'csrfmiddlewaretoken': questionForm.find('input[name="csrfmiddlewaretoken"]').val()
            },
            success: function (data) {
                if (data == 'true') {
                    clickedInput.css('background-color', '#4CAF50');
                    clickedInput.css('color', 'white');

                    const audioCorrectAnswer = document.getElementById('audioCorrectAnswer');
                    audioCorrectAnswer.play();

                    exampleSpan.css('display', 'inline');
                    questionForm.find('input[type="submit"]').css('pointer-events', 'none');
                                        
                    x -= 30;
                    y -= 30;
                    let div = document.createElement("div");
                    div.style = "position: absolute; left: " + x + "px; top: " + y + "px;";
                    div.innerHTML = '<div style="width: 30px; height: 30px; border-radius: 50%; background-color: green; display: flex; justify-content: center; align-items: center;"><span style="color: white; font-size: 16px;">+1</span></div>';
                    document.body.append(div);
                    gsap.to(div, {duration: 1, opacity: 0, y: -50, ease: "power1.out", onComplete: function() { div.remove(); }});

                } else {
                    clickedInput.css('background-color', '#f44336');
                    clickedInput.css('color', 'white');
                    clickedInput.css('pointer-events', 'none');
                    if (!incorrectlyAnswered.includes(questionId)) {
                        incorrectlyAnswered.push(questionId);
                    }
                }
                clickedInput.removeClass('clicked');
                score = {{ words|length }} - incorrectlyAnswered.length;
                $('#score').html(score);
            }
        })
    })
</script>

<!-- Show quiz results div -->
<script>
    function quizResults() {
        document.getElementById("quiz").style.display = "none";
        document.getElementById("quiz-results").style.display = "block";
    }
</script>

<!-- Show one question at a time -->
<script>
    let currentWord = 1;
    function move(go_next = 1) {
            document.getElementById("word" + currentWord).style.display = "none";
            go_next ? currentWord++ : currentWord--;
            document.getElementById("word" + currentWord).style.display = "block";
    }
</script>



{% endblock %}
