{% extends "base.html" %}
{% load static %}

{% block content %}

<div id="quiz">
    {% for word in words %}
        <div class="question" id="word{{ forloop.counter }}" {% if forloop.first %}style="display:block;"{% else %}style="display:none;"{% endif %}>
            <form id="question-form" action="{% url 'add_to_learned' %}" method="POST" style='text-align: center; min-width: 400px; width: fit-content; min-height: 450px; height: fit-content; margin: 0 auto; background-color: white; border-radius: 10px; padding: 10px 20px 50px 20px;'>
                {% csrf_token %}
                <input type="hidden" value="{{ word.pk }}" name="question_id">
                <span style="text-align: right;">{{ forloop.counter }} / {{ words|length }}</span>
                <br>
                
                <col><span style="font-size: 80px; margin-bottom: 10px;">{{ word.name }}</span></col>
                <col>
                {% if word.audio %}
                    <audio id="audio{{ forloop.counter }}" preload="none" src="{{ word.audio.url }}"></audio>
                    <a href="{{ word.audio.url }}" onclick="document.getElementById('audio{{ forloop.counter }}').play(); return false;">
                        <span style="display: inline-block; font-size: 50px;">
                            &#x1F50A;
                        </span>
                    </a>
                {% endif %}
                </col>
                <br>
                {% if word.image %}
                <img src="{{ word.image.url }}" alt="image" style="max-height: 100px;">
                <br>
                {% endif %}
                <ol style="padding: 0;">
                    <div class="col">
                        <span style="font-size: 60px;">{{ word.translation }}</span>
                    </div>
                </ol> 

                {% if word.example %}
                    {{ word.example }}
                {% endif %}
                {% if word.example_image %}
                    <img src="{{ word.example_image.url }}" alt="example_image" style="max-height: 20px;">
                {% endif %}
                <br>
                
                <!-- Navigation Buttons -->
                <div class="navigation-buttons" style="margin-top: 20px;">
                    <input type="button" onclick="move(0)" style='float: left;' class="btn btn-primary" {% if forloop.first %}hidden{% endif %} value="Previous">
                    {% if not forloop.last %}
                    <input type="submit" onclick="move()" style='float: right' class="btn btn-primary" id="btn-next" value="Next">
                    {% else %}
                    <input type="submit" onclick="quizResults()" style='float: right' value="End Quiz" class="btn btn-secondary">
                    {% endif %}
                </div>

            </form>
        </div>
    {% endfor %}
</div>


<!-- Quiz Results -->
<div class="container-fluid" id="quiz-results" style="display: none; width: 50%; margin: 0 auto;">
    <h2 style="margin-bottom: 20px">Results</h2>
    <div class="card" style="width: 18rem; margin: 0 auto 20px;">
        <div class="card-body">
            <div class="row">
                <h5 class="card-title">{{ learning_block.name }}</h5>
            </div>
            <form method="POST" action="{% url 'quiz_review' %}" style="margin-bottom: 10px;">
                {% csrf_token %}
                <input type="hidden" value="{{ learning_block.slug }}" name="learning_block">
                <input type='submit' class="btn btn-outline-primary" value="Review" style="margin-top: 10px;">
            </form>
            <p style="font-size: 18px;">Go back to <a href="{% url 'block_detail' slug=learning_block.slug %}" style="text-decoration: none; font-weight: 400;">{{ learning_block.name }}</a></p>
            <a href="{% url 'learn' %}">Go to index</a>
        </div>
    </div>

    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Audio</th>
            <th scope="col">Transliteration</th>
            <th scope="col">Translation</th>
            <th scope="col">Example</th>
          </tr>
        </thead>
        <tbody>
        {% for word in words %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ word.name }}</td>
                <td>
                    {% if word.audio %}
                        <a href="{{ word.audio.url }}" onclick="document.getElementById('audio{{ forloop.counter }}').play(); return false;">
                            <span style="display: inline-block; font-size: 20px;">
                                &#x1F50A;
                            </span>
                        </a>
                    {% endif %}
                </td>
                <td>{{ word.transliteration }}</td>
                <td>{{ word.translation }}</td>
                <td>{% if word.example %}{{ word.example }}{% else %}-{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
      </table>
    
</div>

<script src="{% static 'js/quiz.js' %}"></script>

<!-- Add a word to learned words -->
<script type="text/javascript">
    $(document).on("submit", '#question-form', function(e) {
        e.preventDefault();
        const questionForm = $(this);
        const questionId = questionForm.find('input[name="question_id"]').val();
        
        $.ajax({
            type: "POST",
            url: questionForm.attr('action'),
            data: {
                'question_id': questionId,
                'csrfmiddlewaretoken': questionForm.find('input[name="csrfmiddlewaretoken"]').val()
            },
            success: function (data) {
                if (data == 'true') {
                    // do something if success == 'true'
                } else {
                    // do something if success != 'true'
                }
            }
        })
    })
</script>

{% endblock %}
