{% extends "base.html" %}
{% load static %}

{% block content %}

<div id="quiz">
    <input type="hidden" id="num_questions" value="{{ words|length }}">
    {% for word in words %}
        <div class="question" id="word{{ forloop.counter }}" {% if forloop.first %}style="display:block;"{% else %}style="display:none;"{% endif %}>
            <form id="question-form" action="{% url 'check_answer_review' %}" method="POST" style='position: relative; text-align: center; min-width: 400px; width: fit-content; min-height: 250px; height: fit-content; margin: 0 auto; background-color: white; border-radius: 10px; padding: 10px 20px 50px 20px;'>
                {% csrf_token %}    
                <input type="hidden" value="{{ word.pk }}" name="question_id">
                <span style="text-align: right;">{{ forloop.counter }} / {{ words|length }}</span>
                <br>
                
                <span style="font-size: 30px; margin-bottom: 10px;">{{ word.word.name }}</span>

                <!-- Word Audio -->
                {% if word.word.audio %}
                    <audio id="audio_{{ word.word.name }}" preload="none" src="{{ word.word.audio.url }}"></audio>
                    <a href="{{ word.word.audio.url }}" onclick="document.getElementById('audio_{{ word.word.name }}').play(); return false;">
                        <span style="display: inline-block; font-size: 20px;">&#x1F50A;</span>
                    </a>
                {% endif %}
                    
                <br>
                Definition:
                <div class="question{{ forloop.counter }}_options" style="margin: 10px auto 10px auto;">
                    <div class="col">
                        {% for option in word.options %}
                            <div class="row">
                                <input type="submit" class="btn btn-outline-primary" value="{{ option }}" name="answer" style="margin-bottom: 8px;">
                            </div>
                        {% endfor %}
                    </div>

                    <div style="height: 20px;">
                        <span id="span_word_example" style="display: inline;">
                            <!-- AJAX populates it -->
                        </span>
                    </div>

                    <br>
                </div>
                
                <input type="button" onclick="move(0)" class="btn btn-primary" {% if forloop.first %}hidden{% endif %} value="Previous" style="position: absolute; bottom: 10px; left: 10px;">
                {% if not forloop.last %}
                    <input disabled id="btn-next" type="button" onclick="move()" class="btn btn-primary" value="Next" style="position: absolute; bottom: 10px; right: 10px;">
                {% else %}
                    <input type="button" onclick="quizResults()" value="End Quiz" class="btn btn-secondary" style="position: absolute; bottom: 10px; right: 10px;">
                {% endif %}
            </form>
        </div>
    {% endfor %}
</div>


<!-- Quiz Results -->
<div id="quiz-results" style="display: none; margin: 0 auto;">
    <h2 style="margin-bottom: 20px">Results</h2>
    <div class="card" style="width: 18rem; margin: 0 auto;">
        <div class="card-body">
            <h5 class="card-title">{{ learning_block.name }}</h5>
            <p class="card-text"><h3><span id="score">{{ score }}</span> / {{ words|length }}</h3></p>
            <p style="font-size: 18px;">Go back to <a href="{% url 'block_detail' slug=learning_block.slug %}" style="text-decoration: none; font-weight: 400;">{{ learning_block.name }}</a></p>
            <a href="{% url 'learn' %}">Go to index</a>
        <br>
            <form method="POST" action="{% url 'quiz_review' %}" class="text-center">
                {% csrf_token %}
                <input type="hidden" value="{{ learning_block.slug }}" name="learning_block">
                <input type='submit' class="btn btn-outline-primary" value="Review Again" style="margin-top: 10px;">
            </form>
          
        </div>
      </div>

      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Audio</th>
            <th scope="col">Transliteration</th>
            <th scope="col">Translation</th>
            <th scope="col">Example</th>
          </tr>
        </thead>
        <tbody>
        {% for word in distinct_words %}
            {% with word=word.word %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ word.name }}</td>
                    <td>
                    {% if word.audio %}
                        <a href="{{ word.audio.url }}" onclick="document.getElementById('audio_{{ word.name }}').play(); return false;">
                            <span style="display: inline-block; font-size: 20px;">
                                &#x1F50A;
                            </span>
                        </a>
                    {% endif %}
                    </td>
                    <td>{{ word.transliteration }}</td>
                    <td>{{ word.translation }}</td>
                    <td>{% if word.example %}{{ word.example }}{% else %}-{% endif %}</td>
                </tr>
            {% endwith %}
        {% endfor %}
        </tbody>
      </table>
</div>

<script src="{% static 'js/quiz.js' %}"></script>
<script src="{% static 'js/quiz_interact.js' %}"></script>

{% endblock %}